*{
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  
  

body{
    background-color: black;
    animation: fadeIn 2s forwards;
}

header {
    background-color: rgb(116, 7, 7);
    padding: 5px 15px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pe{
    color: white;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: .5s;
    font-size: 15px
}

nav ul li a:hover{
    color: rgb(24, 7, 7);
    font-size: 15px;
}


.dropdown .dropbtn {
    color: rgb(255, 255, 255);
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(132, 4, 4, 0.938);
}


.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkred;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home{
    padding: 100px;
    display: flex;
    gap: 10%;
    margin-right: 8%;
    margin-left: 8%;
    align-items: center;
    color: white;
    
}

.home h3{
    color: red;
}

span{
    color: red;
}

.images{  
    width: 300px;
    height: 300px;
    border-radius: 70px 10px 70px 10px;
    box-shadow: 0 0 20px red;
    transition: .5s;
}

.images:hover{
    box-shadow: none;
}


.container {
    padding: 130px;
}

.skills {
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
    display: flex;
    margin-left: 3.5%;
}
.skill {
    background-color: rgb(179, 10, 10);
    border-radius: 8px;
    padding: 20px;
    width: 180px;
    text-align: center;
}

.skill h3 {
    color: #ffffff;
    margin-bottom: 10px;
}
.skill img {
    width: 100px;
    height: 100px;
}
.skill p {
    color: #666;
    font-size: 0.9em;
}

.sertifikat{
    display: flex;
    gap: 3%;
    padding: 150px;
    text-align: center;
}

.serti{
    width: 300px;
    height: 250px;
    box-shadow: 0 0 20px red;
    transition: .5s;
}

.serti:hover{
    box-shadow: none;
}


footer{
    padding: 5px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

a:hover{
    color: red;
}